
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 39rem;
}.sangtae-H9r {
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #222222;
  width: 100%;
  overflow: hidden;
  position: relative;

  .auto-group-rheq-hDa {
    box-sizing: border-box;
    padding: 2.7rem 0.9rem 7.6rem 0.6rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;

    .item--uU4 {
      align-items: center;
      justify-content: center;
      font-size: 3.8rem;
      font-weight: 700;
      line-height: 1.2105263158;
      letter-spacing: -0.1rem;
      margin-bottom: 7.2rem;
      display: flex;
      flex-shrink: 0;
      font-family: DM Sans, 'Source Sans Pro';
      white-space: nowrap;
      width: 100%;
      color: #f9ff00;
    }
    .item--hep {
      color: #ffffff;
      align-items: baseline;
      flex-shrink: 0;
      font-family: DM Sans, 'Source Sans Pro';
      white-space: nowrap;
      margin: 0rem 0rem 1.8rem 1rem;
      display: flex;
      font-size: 3.8rem;
      font-weight: 700;
      line-height: 1.2105263158;
      letter-spacing: -0.1rem;

      .item--hep-sub-0 {
      }
      .item--hep-sub-1 {
        font-size: 3.8rem;
        font-weight: 700;
        line-height: 1.2105263158;
        letter-spacing: -0.1rem;
        color: #f9ff00;
        font-family: DM Sans, 'Source Sans Pro';
      }
    }
    .item--cYp {
      align-items: baseline;
      display: flex;
      color: #ffffff;
      font-weight: 400;
      line-height: 1.0833333333;
      font-family: DM Sans, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      margin: 0rem 0rem 7.4rem 1rem;
      font-size: 2.4rem;

      .item--cYp-sub-0 {
        font-size: 2.4rem;
        font-weight: 400;
        line-height: 1.0833333333;
        color: #ffffff;
        font-family: DM Sans, 'Source Sans Pro';
      }
      .item--cYp-sub-1 {
        font-size: 2.4rem;
        font-weight: 400;
        line-height: 1.0833333333;
        color: #f9ff00;
        font-family: DM Sans, 'Source Sans Pro';
      }
      .item--cYp-sub-2 {
        line-height: 1.0833333333;
        color: #ffffff;
        font-family: DM Sans, 'Source Sans Pro';
        font-size: 2.4rem;
        font-weight: 400;
      }
    }
    .heading-kBA {
      margin: 0rem 0rem 5.5rem 1rem;
      display: flex;
      flex-direction: column;
      flex-shrink: 0;

      .self-introduction-GfJ {
        color: #f9ff00;
        font-family: DM Sans, 'Source Sans Pro';
        margin-bottom: 1.6rem;
        font-size: 2.8rem;
        line-height: 1.2857142857;
        flex-shrink: 0;
        display: flex;
        font-weight: 700;
        white-space: nowrap;
      }
      .item-19--bSg {
        flex-shrink: 0;
        max-width: 20.8rem;
        display: flex;
        font-size: 1.6rem;
        font-weight: 400;
        line-height: 1.625;
        color: #ffffff;
        font-family: DM Sans, 'Source Sans Pro';
      }
    }
    .auto-group-krng-M4U {
      background-color: #f9ff00;
      width: calc(100% - 1.7rem);
      flex-direction: column;
      padding: 5.5rem 4.7rem 5.7rem 4.7rem;
      display: flex;
      border-radius: 4rem;
      flex-shrink: 0;
      margin: 0rem 0.7rem 2.9rem 1rem;
      box-sizing: border-box;

      .div-dXn {
        box-sizing: border-box;
        padding: 0.4rem;
        overflow: hidden;
        position: relative;
        background-color: #ffffb4;
        border-radius: 2rem;
        flex-shrink: 0;
        margin: 0rem 19.6rem 3.5rem 0rem;

        .image-21-AXi {
          height: 6rem;
          object-fit: cover;
          vertical-align: top;
          border-radius: 3rem;
          width: 6rem;
        }
      }
      .hobby-fjN {
        margin: 0rem 0rem 2.1rem 0.4rem;
        font-weight: 700;
        line-height: 1.2125;
        white-space: nowrap;
        flex-shrink: 0;
        display: flex;
        font-size: 2rem;
        color: #000000;
        font-family: Inter, 'Source Sans Pro';
      }
      .item--arL {
        display: flex;
        font-size: 1.8rem;
        font-weight: 400;
        line-height: 1.2125;
        color: #000000;
        font-family: Inter, 'Source Sans Pro';
        flex-shrink: 0;
        max-width: 13.6rem;
      }
    }
    .auto-group-amqr-bmS {
      margin: 0rem 0.7rem 2.9rem 1rem;
      padding: 4.4rem 7.8rem 5.9rem 5.1rem;
      display: flex;
      border-radius: 4rem;
      box-sizing: border-box;
      width: calc(100% - 1.7rem);
      flex-direction: column;
      background-color: #f9ff00;
      flex-shrink: 0;

      .div-JQx {
        overflow: hidden;
        position: relative;
        background-color: #ffffb4;
        border-radius: 2rem;
        flex-shrink: 0;
        margin: 0rem 16.1rem 5.6rem 0rem;
        box-sizing: border-box;
        padding: 0.4rem;

        .image-22-2br {
          border-radius: 3rem;
          width: 6rem;
          height: 6rem;
          object-fit: cover;
          vertical-align: top;
        }
      }
      .character-Z5z {
        font-size: 2rem;
        color: #000000;
        white-space: nowrap;
        flex-shrink: 0;
        font-family: Inter, 'Source Sans Pro';
        margin-bottom: 2rem;
        display: flex;
        font-weight: 700;
        line-height: 1.2125;
      }
      .item--Uye {
        color: #000000;
        font-family: Inter, 'Source Sans Pro';
        flex-shrink: 0;
        max-width: 22.9rem;
        display: flex;
        font-size: 1.8rem;
        font-weight: 400;
        line-height: 1.2125;
      }
    }
    .auto-group-qys8-hrQ {
      margin: 0rem 0.7rem 4.4rem 1rem;
      box-sizing: border-box;
      padding: 4.9rem 4.3rem 5.15rem 5.1rem;
      width: calc(100% - 1.7rem);
      background-color: #f9ff00;
      display: flex;
      flex-direction: column;
      border-radius: 4rem;
      flex-shrink: 0;

      .div-C2U {
        border-radius: 2rem;
        flex-shrink: 0;
        margin: 0rem 19.6rem 5.6rem 0rem;
        box-sizing: border-box;
        padding: 0.4rem;
        overflow: hidden;
        position: relative;
        background-color: #ffffb4;

        .image-23-vDN {
          width: 6rem;
          height: 6rem;
          object-fit: cover;
          vertical-align: top;
          border-radius: 3rem;
        }
      }
      .idea-efA {
        margin: 0rem 0rem 3.15rem 0.4rem;
        font-size: 2rem;
        font-family: Inter, 'Source Sans Pro';
        flex-shrink: 0;
        display: flex;
        font-weight: 700;
        line-height: 1.2125;
        color: #000000;
        white-space: nowrap;
      }
      .item--ANc {
        font-family: Inter, 'Source Sans Pro';
        flex-shrink: 0;
        max-width: 26.4rem;
        display: flex;
        font-size: 1.8rem;
        font-weight: 400;
        line-height: 1.2125;
        color: #000000;
      }
    }
    .pet-Emn {
      margin: 0rem 0rem 1.15rem 1.6rem;
      display: flex;
      font-family: DM Sans, 'Source Sans Pro';
      white-space: nowrap;
      font-size: 2.8rem;
      font-weight: 700;
      line-height: 1.2857142857;
      color: #f9ff00;
      flex-shrink: 0;
    }
    .item--xBz {
      margin: 0rem 0rem 1.35rem 1.6rem;
      max-width: 19.3rem;
      display: flex;
      font-size: 2.8rem;
      font-weight: 700;
      line-height: 1.2857142857;
      font-family: DM Sans, 'Source Sans Pro';
      color: #000000;
      flex-shrink: 0;

      .item--xBz-sub-0 {
        font-size: 1.6rem;
        font-weight: 400;
        line-height: 1.625;
        color: #ffffff;
        font-family: DM Sans, 'Source Sans Pro';
      }
      .item--xBz-sub-1 {
        font-size: 1.4rem;
        font-weight: 400;
        line-height: 1.8571428571;
        color: #ffffff;
        font-family: DM Sans, 'Source Sans Pro';
      }
    }
    .auto-group-s1np-EhE {
      width: calc(100% - 0.3rem);
      display: flex;
      align-items: center;
      flex-shrink: 0;
      margin: 0rem 0rem 5.6rem 0.3rem;

      .image-25-LEU {
        flex-shrink: 0;
        margin-right: 1.2rem;
        width: 18rem;
        height: 18rem;
        object-fit: cover;
        vertical-align: top;
        border-radius: 1rem;
      }
      .image-24-3ua {
        border-radius: 1rem;
        flex-shrink: 0;
        width: 18rem;
        height: 18rem;
        object-fit: cover;
        vertical-align: top;
      }
    }
    .tech-stacks-BVz {
      display: flex;
      font-size: 2.8rem;
      font-weight: 700;
      color: #f9ff00;
      white-space: nowrap;
      flex-shrink: 0;
      margin: 0rem 0rem 1.6rem 0.4rem;
      line-height: 1.2857142857;
      font-family: DM Sans, 'Source Sans Pro';
    }
    .auto-group-s3qj-gxY {
      margin: 0rem 0rem 6rem 0.4rem;
      height: 7rem;
      display: flex;
      column-gap: 0.5rem;
      align-items: center;
      flex-shrink: 0;

      .auto-group-nspl-Cvt {
        box-sizing: border-box;
        padding: 1rem;
        height: 100%;
        background-color: #ffffff;
        flex-shrink: 0;

        .image-27-AMv {
          width: 5rem;
          height: 5rem;
          object-fit: cover;
          vertical-align: top;
        }
      }
      .auto-group-xrqr-hMr {
        padding: 0.5rem;
        height: 100%;
        background-color: #ffffff;
        flex-shrink: 0;
        box-sizing: border-box;

        .image-28-3wW {
          width: 6rem;
          height: 6rem;
          object-fit: cover;
          vertical-align: top;
        }
      }
      .auto-group-maye-bCL {
        flex-shrink: 0;
        box-sizing: border-box;
        padding: 1.2rem 1rem 1.3rem 1rem;
        height: 100%;
        background-color: #ffffff;

        .image-29-8TA {
          width: 5rem;
          height: 4.5rem;
          object-fit: cover;
          vertical-align: top;
        }
      }
      .image-30-gDn {
        width: 11.8408rem;
        height: 7rem;
        object-fit: cover;
        vertical-align: top;
        flex-shrink: 0;
      }
    }
    .team-member-card-RhA {
      padding: 2.4rem 1.9rem;
      align-items: center;
      display: flex;
      background-color: #f9ff00;
      border-radius: 4rem;
      flex-shrink: 0;
      margin: 0rem 0.7rem 8.949rem 1rem;
      box-sizing: border-box;
      width: calc(100% - 1.7rem);
      overflow: hidden;
      position: relative;
      flex-direction: column;

      .kakaotalk20230403212212724-1-L3S {
        height: 33.4507rem;
        flex-shrink: 0;
        margin-bottom: 3.2rem;
        background-size: 100% 100%;
        background-repeat: no-repeat;
        background-position: center;
        background-image: url('REPLACE_IMAGE:9a2d782aef52b89fcaca01f7dc717220406628b7');
        border-radius: 3rem;
        width: 100%;
      }
      .sangtae-seo-pjJ {
        display: flex;
        font-size: 1.6rem;
        line-height: 1.125;
        text-transform: uppercase;
        color: #000000;
        font-weight: 700;
        letter-spacing: 0.08rem;
        font-family: DM Sans, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
      }
    }
    .balance-game-8jz {
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      margin-bottom: 2.3rem;
      line-height: 0.9583333333;
      color: #f9ff00;
      letter-spacing: 0.0228rem;
      display: flex;
      font-size: 2.4rem;
      font-weight: 700;
    }
    .vs--3rx {
      color: #ffffff;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      margin-bottom: 1.4rem;
      font-size: 1.5rem;
      font-weight: 400;
      line-height: 1.2125;
    }
    .auto-group-dvkv-NPS {
      margin: 0rem 1.1rem 5.5rem 1rem;
      width: calc(100% - 2.1rem);
      height: 6rem;
      display: flex;
      align-items: center;
      flex-shrink: 0;

      .auto-group-plrl-uPN {
        color: #000000;
        font-family: Inter, 'Source Sans Pro';
        margin-right: 2.6rem;
        height: 100%;
        white-space: nowrap;
        display: flex;
        align-items: center;
        border-radius: 1.6rem;
        flex-shrink: 0;
        text-align: center;
        line-height: 1.2125;
        font-weight: 400;
        justify-content: center;
        background-color: #f9ff00;
        width: 16.4rem;
        font-size: 2rem;
      }
      .auto-group-auey-BLt {
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        border-radius: 1.6rem;
        line-height: 1.2125;
        color: #000000;
        display: flex;
        text-align: center;
        font-weight: 400;
        justify-content: center;
        width: 16.4rem;
        height: 100%;
        background-color: #f9ff00;
        flex-shrink: 0;
        font-size: 2rem;
        align-items: center;
      }
    }
    .vs--V6g {
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      margin-bottom: 1.4rem;
      font-size: 1.5rem;
      font-weight: 400;
      line-height: 1.2125;
      color: #ffffff;
    }
    .auto-group-dewi-PC4 {
      margin: 0rem 1.1rem 5.5rem 1rem;
      width: calc(100% - 2.1rem);
      height: 6rem;
      display: flex;
      align-items: center;
      flex-shrink: 0;

      .auto-group-tjrn-hiY {
        height: 100%;
        text-align: center;
        font-size: 2rem;
        color: #000000;
        background-color: #f9ff00;
        margin-right: 2.6rem;
        justify-content: center;
        white-space: nowrap;
        align-items: center;
        width: 16.4rem;
        font-weight: 400;
        line-height: 1.2125;
        font-family: Inter, 'Source Sans Pro';
        display: flex;
        border-radius: 1.6rem;
        flex-shrink: 0;
      }
      .auto-group-zfn8-nzt {
        color: #000000;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        align-items: center;
        height: 100%;
        font-size: 2rem;
        font-weight: 400;
        width: 16.4rem;
        text-align: center;
        background-color: #f9ff00;
        border-radius: 1.6rem;
        flex-shrink: 0;
        line-height: 1.2125;
        display: flex;
        justify-content: center;
      }
    }
    .vs--gaU {
      line-height: 1.2125;
      color: #ffffff;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      margin: 0rem 0rem 1.4rem 0.2rem;
      font-size: 1.5rem;
      font-weight: 400;
    }
    .auto-group-8cxa-n7i {
      margin: 0rem 0.9rem 5.5rem 1.2rem;
      width: calc(100% - 2.1rem);
      height: 6rem;
      display: flex;
      align-items: center;
      flex-shrink: 0;

      .auto-group-wvfn-79z {
        height: 100%;
        font-weight: 400;
        color: #000000;
        white-space: nowrap;
        justify-content: center;
        background-color: #f9ff00;
        margin-right: 2.6rem;
        width: 16.4rem;
        border-radius: 1.6rem;
        line-height: 1.2125;
        align-items: center;
        flex-shrink: 0;
        text-align: center;
        font-size: 2rem;
        font-family: Inter, 'Source Sans Pro';
        display: flex;
      }
      .auto-group-jetx-nG8 {
        border-radius: 1.6rem;
        width: 16.4rem;
        font-size: 2rem;
        font-weight: 400;
        height: 100%;
        font-family: Inter, 'Source Sans Pro';
        justify-content: center;
        flex-shrink: 0;
        line-height: 1.2125;
        white-space: nowrap;
        align-items: center;
        background-color: #f9ff00;
        text-align: center;
        color: #000000;
        display: flex;
      }
    }
    .vs--5m2 {
      margin: 0rem 0rem 1.4rem 0.2rem;
      font-size: 1.5rem;
      font-weight: 400;
      line-height: 1.2125;
      color: #ffffff;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
    }
    .auto-group-5btt-BZA {
      margin: 0rem 0.9rem 0rem 1.2rem;
      width: calc(100% - 2.1rem);
      height: 6rem;
      display: flex;
      align-items: center;
      flex-shrink: 0;

      .auto-group-zhs8-7Sp {
        font-size: 2rem;
        font-family: Inter, 'Source Sans Pro';
        display: flex;
        align-items: center;
        color: #000000;
        white-space: nowrap;
        background-color: #f9ff00;
        flex-shrink: 0;
        margin-right: 2.6rem;
        width: 16.4rem;
        line-height: 1.2125;
        border-radius: 1.6rem;
        height: 100%;
        text-align: center;
        font-weight: 400;
        justify-content: center;
      }
      .auto-group-texa-zFi {
        height: 100%;
        line-height: 1.2125;
        display: flex;
        border-radius: 1.6rem;
        width: 16.4rem;
        font-weight: 400;
        align-items: center;
        text-align: center;
        font-size: 2rem;
        color: #000000;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        justify-content: center;
        background-color: #f9ff00;
        flex-shrink: 0;
      }
    }
  }
  .auto-group-dkdi-5nx {
    flex-shrink: 0;
    box-sizing: border-box;
    padding: 2.85rem 1.8rem 4.9rem 1.8rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: #f9ff00;

    .sangtae-seo-bmJ {
      white-space: nowrap;
      margin-bottom: 3.9rem;
      display: flex;
      justify-content: center;
      font-size: 1.6rem;
      font-family: DM Sans, 'Source Sans Pro';
      align-items: center;
      letter-spacing: 0.08rem;
      text-transform: uppercase;
      flex-shrink: 0;
      font-weight: 700;
      width: 100%;
      line-height: 1.125;
      color: #000000;
    }
    .menu-i5E {
      display: flex;
      font-weight: 700;
      letter-spacing: 0.09rem;
      text-transform: uppercase;
      white-space: nowrap;
      margin-bottom: 3.65rem;
      font-size: 1.8rem;
      line-height: 1.4440000322;
      color: #000000;
      font-family: DM Sans, 'Source Sans Pro';
      flex-shrink: 0;
    }
    .line-2-qfe {
      background-color: #000000;
      flex-shrink: 0;
      margin: 0rem 0rem 2.65rem 0.1rem;
      width: 35.3001rem;
      height: 0.1rem;
    }
    .auto-group-ihda-y1A {
      display: flex;
      align-items: center;
      flex-shrink: 0;
      margin: 0rem 3.3rem 1.6rem 0rem;
      width: calc(100% - 3.3001rem);

      .self-introdution-JZE {
        white-space: nowrap;
        flex-shrink: 0;
        display: flex;
        line-height: 1.1430000578;
        font-weight: 500;
        letter-spacing: 0.021rem;
        text-transform: uppercase;
        color: #000000;
        font-family: DM Sans, 'Source Sans Pro';
        margin-right: 8.1rem;
        font-size: 1.4rem;
      }
      .balance-game-2k8 {
        font-size: 1.4rem;
        font-weight: 500;
        color: #000000;
        white-space: nowrap;
        display: flex;
        letter-spacing: 0.021rem;
        text-transform: uppercase;
        font-family: DM Sans, 'Source Sans Pro';
        flex-shrink: 0;
        line-height: 1.1430000578;
      }
    }
    .pet-xtg {
      white-space: nowrap;
      margin-bottom: 1.6rem;
      display: flex;
      line-height: 1.1430000578;
      letter-spacing: 0.021rem;
      font-family: DM Sans, 'Source Sans Pro';
      flex-shrink: 0;
      font-size: 1.4rem;
      font-weight: 500;
      text-transform: uppercase;
      color: #000000;
    }
    .tech-stacks-Uc8 {
      font-family: DM Sans, 'Source Sans Pro';
      white-space: nowrap;
      margin-bottom: 4.9rem;
      font-size: 1.4rem;
      line-height: 1.1430000578;
      letter-spacing: 0.021rem;
      text-transform: uppercase;
      color: #000000;
      flex-shrink: 0;
      display: flex;
      font-weight: 500;
    }
    .link-cTS {
      line-height: 1.4440000322;
      letter-spacing: 0.09rem;
      color: #000000;
      font-family: DM Sans, 'Source Sans Pro';
      flex-shrink: 0;
      margin-bottom: 3.25rem;
      display: flex;
      text-transform: uppercase;
      white-space: nowrap;
      font-size: 1.8rem;
      font-weight: 700;
    }
    .line-1-jY4 {
      flex-shrink: 0;
      margin: 0rem 0rem 2.3rem 0.1rem;
      width: 35.3001rem;
      height: 0.1rem;
      background-color: #000000;
    }
    .auto-group-ybje-4aL {
      display: flex;
      column-gap: 1.4rem;
      border-radius: 4rem;
      flex-shrink: 0;
      box-sizing: border-box;
      padding: 3.2rem 5rem;
      height: 11.4rem;
      align-items: center;
      background-color: #222222;

      .auto-group-jk9r-P6p {
        background-size: 100% 100%;
        background-repeat: no-repeat;
        background-position: center;
        background-image: url('REPLACE_IMAGE:e34a77d3a4c3dffd2ab11d92b6f104368209ee66');
        flex-shrink: 0;
        box-sizing: border-box;
        padding: 0.5rem 0.5rem 0.474rem 0.5rem;
        height: 100%;

        .image-12-uL4 {
          width: 4rem;
          height: 4.0256rem;
          object-fit: cover;
          vertical-align: top;
        }
      }
      .auto-group-tgkz-2fa {
        flex-shrink: 0;
        box-sizing: border-box;
        padding: 1rem 0.5rem 0.956rem 0.5rem;
        height: 100%;
        background-size: 100% 100%;
        background-repeat: no-repeat;
        background-position: center;
        background-image: url('REPLACE_IMAGE:02bc2e4d0dcc60897c80266cdec86f57d2fed416');

        .image-10-NjS {
          width: 4rem;
          height: 3.044rem;
          object-fit: cover;
          vertical-align: top;
        }
      }
      .image-26-Wak {
        width: 5rem;
        height: 5rem;
        object-fit: cover;
        vertical-align: top;
        border-radius: 1rem;
        flex-shrink: 0;
      }
      .image-15-G48 {
        width: 5rem;
        height: 5rem;
        object-fit: cover;
        vertical-align: top;
        flex-shrink: 0;
      }
    }
  }
  .auto-group-jt6x-n2U {
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    box-sizing: border-box;
    padding: 3.4rem 2.3rem 1.3rem 2.5rem;
    width: 100%;

    .div-7aY {
      margin-bottom: 1.7rem;
      width: 100%;
      height: 0.3rem;
      background-color: rgba(255, 255, 255, 0.3000000119);
      flex-shrink: 0;
    }
    .item-010-6319-2108-TuJ {
      align-items: center;
      justify-content: center;
      line-height: 1;
      color: #ffffff;
      margin-right: 0.3rem;
      display: flex;
      font-size: 1.4rem;
      font-weight: 400;
      font-family: DM Sans, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
    }
  }
}
